@media screen and (min-width: 375px){
  .container {
    max-width: 767px;
  }

  .mob-menu {
    width: 90%;
    left: 5%;
  }


  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .hero-container {
    justify-content: space-between;
    gap: 48px;
  }

  .hero-title {
    font-size: 48px;
  }

  .main-section-title {
    text-align: start;
    font-size:24px;
  }

  .project-img-wrap {
    max-height: 260px;
  }

  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }


}
