:root {
  --main-bg-color: #faf5e8;
  --pink-bg-color: #d9b4bf;
  --main-dark-bg-color: #ddd5c0;
  --blue-bg-color: #7b9bb0;
  --orange-bg-color: #bf9080;
  --khaki-bg-color: #a9a985;
  --main-text-color: #322d31;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--main-text-color);
  font-weight: 200;
  font-size: 14;
  background-color: var(--main-bg-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 300;
  font-size: 1;
}

/* -----------------SITE-HEADER------------------------ */

.header-container {
display: flex;
justify-content: center;
}


/* -----------------HERO------------------------ */

.hero {
  background-color: var(--pink-bg-color);
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-title {
  font-weight: 400;
  font-size: 22;
}