:root {
  --main-bg-color: #faf5e8;
  --pink-bg-color: #d9b4bf;
  --main-dark-bg-color: #ddd5c0;
  --blue-bg-color: #7b9bb0;
  --orange-bg-color: #bf9080;
  --khaki-bg-color: #a9a985;
  --main-text-color: #322d31;

  --background-color: #fff;
  --greyish: #f1f1f1;
  --active-greyish: #e8e8e8;
  --lemony: #fbecb5;
  --text-color: #17181a;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-weight: 200;
  font-size: 14;
  background-color: var(--background-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: var(--text-color);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 300;
  font-size: 24px;
}

.title-italic {
  font-style: italic;
  font-size: 18px;
}

.text {
  font-weight: 100;
  font-size: 14px;
}

/* -----------------SITE-HEADER------------------------ */

.logo {
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 24px;
}

.nav-wrap {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  gap: 24px;

  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--lemony);
}

/* -----------------HERO------------------------ */



.hero-title {
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;

  margin-bottom: 14px;
}

.hero-subtitle {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 14px;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border-radius: 32px;

  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  width: auto;
  height: 28px;

  border: solid 0.7px var(--accent);
  background-color: var(--greyish);
  padding-left: 7px;
  padding-right: 7px;

  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 14px;

}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent);
  transition: background-color 0.5s;
}

.hero-img {
  border-radius: 8px;
  overflow: hidden;

  min-width: 275px;
}
/* ________________________ABOUT_______________________ */

.about-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
}

.about-text-area {
  background-color: var(--greyish);
  font-size: 12px;
  font-weight: 200;
  padding: 20px;
  border-radius: 8px;
}

/* .services {
  background-color: var(--blue-bg-color);
} */

.services-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--greyish);
}
