:root {
  --bg-color: #fdfbf5;
  --lemony: #fbecb5;
  --text-color: #17181a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  font-weight: 300;
  font-size: 18px;
  background-color: var(--bg-color);
}

.body-wrapper {
  margin: 16px;
  outline: 0.5px solid var(--text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

.link:visited {
  color: var(--text-color);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  color: var(--text-color);
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.container {
  padding-left: 48px;
  padding-right: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1391px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border-radius: 6px;
  color: var(--bg-color);

  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  width: 180px;
  height: 35px;

  border: solid 0.7px var(--text-color);
  background-color: var(--text-color);
  padding-left: 7px;
  padding-right: 7px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.button:hover,
.button:focus {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

.title {
  font-size: 64px;
  line-height: calc(76.8 / 64);
  font-weight: 300;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 300;
  font-size: 32px;
  line-height: calc(38.4 / 32);
  text-transform: uppercase;
}

.text {
  font-size: 18px;
  line-height: calc(30.6 / 18);
}

.horizontal-line {
  border-top: 1px solid var(--text-color); /* Можете змінити колір та товщину */
  margin: 0px 48px;
}
/* -----------------HEADER------------------------ */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-wrap {
  margin-left: auto;
}

.nav-list {
  display: flex;
  gap: 24px;

  color: var(--text-color);
  font-size: 15px;
  line-height: calc(18 / 15);
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

.header .socials {
  margin-left: 32px;
}
/* -----------------HERO------------------------ */

.hero-container {
  display: flex;
  gap: 96px;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 44px;
}

.hero-title {
  font-weight: 400;
  font-size: 84px;
  line-height: calc(84 / 84);
  text-transform: uppercase;
}

.hero-subtitle {
  font-size: 28px;
  font-weight: 300;
  line-height: calc(42 / 28);
}

.hero-btn {
  width: 180px;
}
.img-wrap {
  border-radius: 16px;
  overflow: hidden;

  width: 360px;
  height: auto;
  flex-grow: 1;
}

.img-wrap > img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}
/* ________________________ABOUT_______________________ */

.about-text-area {
  display: flex;
  flex-direction: column;
  gap: 24px;

  text-align: justify;
}

/* ----------------------SERVICES-------------------*/

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.services-title {
  max-width: 352px;
}

.services-content-top {
  display: flex;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;

  justify-content: end;
}

.services-item {
  display: flex;

  width: 360px;
}

.services-subtitle {
  font-size: 26px;
  margin-bottom: 8px;
}

.services-decorative-icon {
  margin-right: 8px;
}

.services-text-area {
  width: 258px;
}

.services-content-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.services-content-bottom .text {
  text-align: justify;
}

/* ----------------PROJECTS--------------- */
.projects-title {
  margin-bottom: 48px;
  text-align: center;
}

.projects-list {
  display: flex;

  gap: 48px;
  justify-content: space-between;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  max-width: 360px;
}

.project-img {
  border-radius: 16px;
  overflow: hidden;
}

/* ----------------CALENDAR------------- */

.calendar-title {
  margin-bottom: 48px;
  text-align: center;
}

.calendar-content {
  display: flex;
  gap: 96px;
}

.calendar-img-wrap {
  min-width: 583px;
  height: auto;
}

.calendar-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.calendar-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 480px;
  border-bottom: 0.2px solid var(--text-color);
}

.podcast-list {
  display: flex;
  gap: 8px;
}

.podcast-button {
  background-color: var(--bg-color);
  display: flex;

  text-align: center;

  align-items: center;

  width: 80px;
  border: 1px solid var(--text-color);
  border-radius: 6px;

  text-transform: uppercase;
}

.podcast-link {
  padding: 4px;
  width: 100%;
  height: 100%;
}

.podcast-button:hover,
.podcast-button:focus,
.podcast-button:active {
  background-color: var(--text-color);
}

.podcast-link:hover,
.podcast-link:focus,
.podcast-link:active {
  color: var(--bg-color);
}

.calendar-bottom {
  display: flex;
  justify-content: space-between;
}

/* ---------------CONTACTS-------------- */
.contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.address-item {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.socials {
  display: flex;
  gap: 12px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 1px solid var(--text-color);
  font-size: 14px;
  text-transform: uppercase;
}

.social-link {
  padding: 7px;
}

.social-item .social-link:hover,
.social-item .social-link:focus {
  color: var(--bg-color);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--text-color);
}

/* ------FOOTER----------------- */

.footer-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 12px;
}

.heart-icon {
  animation: beat 0.7s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(2.4);
  }
}

/* scroll-button */

#scrollToTopBtn {
  position: fixed;
  bottom: 60px;
  right: 48px;
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#scrollToTopBtn.show {
  display: block;
}

#scrollToTopBtn:hover,
#scrollToTopBtn:focus {
  fill: var(--bg-color);
  stroke: var(--text-color);
}

.modal-close {
  border: none;
  background-color: transparent;
}
/* 
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #5b6988;
  background-color: rgba(91, 105, 136, 0.9);
}

.modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid transparent;
  width: 50%;
  height: 50%;
} */
