@media screen and (min-width: 768px) {
  .container {
    max-width: 1023px;
  }

  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  /* -----------------HEADER------------------------ */

  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .mob-menu-btn {
    margin-left: 32px;
  }

  .header .socials {
    display: flex;
    margin-left: auto;
  }

  .mob-menu {
    top: 120px;
    width: 92%;
    left: 20;
  }
  /* hero */

  .img-wrap {
    border-radius: 16px;
    overflow: hidden;

    max-width: 340px;
    max-height: 340px;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 96px;
  }

  .individuals-services{
    display: flex;
justify-content: space-between;

  }

  .business-services{
    display: flex;
    justify-content: space-between;
  }



  .services-list {
    display: flex;
    gap: 48px;
  }

  .services-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 360px;
  }

  .services-content-bottom {
    margin-top: 0px;}

  .services-subtitle {
    font-size: 22px;
  }

  .projects-title {
    font-size: 36px;
    margin-bottom: 48px;
  }

  .projects-list {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
  }

  .project-card {
    display: flex;
    gap: 16px;
    max-width: 310px;
  }

  .project-img-wrap {
    max-height: 310px;
  }

  .calendar-title {
    font-size: 36px;
    margin-bottom: 48px;
  }

  .calendar-content {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  .calendar-img-wrap {
    position: -webkit-sticky; 
    position: sticky;
    top: 20px; 
  }

  .calendar-item {
    min-width: 320px;
  }

  .calendar-bottom {
    display: flex;
    justify-content: space-between;
  }


  .testimonials-list{
    gap: 48px;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
  }

  .testimonials-item {
    width: 280px;
  }

  .contacts-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }

  .footer-logo {
    margin-right: auto;
    margin-left: auto;
    width: 220px;
  }

  .footer-credits {
    font-size: 16px;
  }

  .modal-content{
    display: flex;
    gap: 48px;
  }

  .modal-content-top{
    display: flex;
    flex-direction: column;
    gap: 48px ;
  }

.modal-title{
  font-size: 36px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-input{
  padding: 24px;
}
}
